---
title: Reshape a DataFrame from long to wide format
---

In [2]:
# Import
import pandas as pd
import numpy as np

In [3]:
# Create some data
df = pd.DataFrame({"Channel": ["Social","Social","Paid Search","Paid Search","Email","Email"],
                  "Metric": ["Conversions","Avg Duration","Conversions","Avg Duration","Conversions","Avg Duration"],
                  "Values": [10, 2.34, 13, 2.54, 8, 1.56]})
df

       Channel        Metric  Values
0       Social   Conversions   10.00
1       Social  Avg Duration    2.34
2  Paid Search   Conversions   13.00
3  Paid Search  Avg Duration    2.54
4        Email   Conversions    8.00
5        Email  Avg Duration    1.56

We will be using the pivot() function which is available in the pandas library. We will pass three parameters: index - which is the column to use to make the new index, columns - column to use to make the new DataFrame's columns and finally values - that will populate the values for the new DataFrame.

In [4]:
# Reshape the data using pandas
df2=df.pivot(index='Channel', columns='Metric', values='Values')
df2

Metric       Avg Duration  Conversions
Channel
Email                1.56          8.0
Paid Search          2.54         13.0
Social               2.34         10.0

In [12]:
# Reshape the data using pandas and format the DataFrame properly
df3=df.pivot(index='Channel', columns='Metric', values='Values').reset_index()
df3.columns.name = ""
df3

       Channel  Avg Duration  Conversions
0        Email          1.56          8.0
1  Paid Search          2.54         13.0
2       Social          2.34         10.0