---
title: Reshape a DataFrame from wide to long format
---

In [1]:
# Import
import pandas as pd
import numpy as np

In [2]:
# Create some data
df = pd.DataFrame({"Channel": ["Social","Paid Search","Email"],
                  "Avg Duration": [2.34,2.54,1.56],
                  "Conversions": [10, 13, 8]})
df

   Avg Duration      Channel  Conversions
0          2.34       Social           10
1          2.54  Paid Search           13
2          1.56        Email            8

We will be using the melt() function which is available in the pandas library. We pass on two parameters: id_vars - column(s) to use as identifier variables & value_vars - column(s) to unpivot.

In [3]:
# Reshape the data using pandas
df2 = pd.melt(df, id_vars = ['Channel'], value_vars = ['Avg Duration', 'Conversions'])
df2

       Channel      variable  value
0       Social  Avg Duration   2.34
1  Paid Search  Avg Duration   2.54
2        Email  Avg Duration   1.56
3       Social   Conversions  10.00
4  Paid Search   Conversions  13.00
5        Email   Conversions   8.00